.totals{
  border-right: solid rgb(247, 220, 171) 0.5px;
  border-bottom: solid rgb(247, 220, 171) 0.5px;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  flex-direction: column;
  align-items: flex-end;
  padding-left: 200px;
  padding-top: 20px;
  margin-top: 20px;
  p{display: flex;
    .subtotal{
      margin-left: 80px;
    }
    .tax{
      margin-left: 95px;
    }
    .total{
      margin-left: 50px;
    }
  }
  button{
  font-size: 15px;
  font-weight: bold;
  margin-left: -200px;
  width: 440px;
  height: 50px;
  margin-bottom: 20px;
  background-color: rgb(192, 134, 26);
  border: none;
  color: white;
  }
}